name: release
on:
    push:
      branches: 
        - main
permissions:
    contents: write
    packages: write
    attestations: write
    issues: write

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Set up QEMU
            uses: docker/setup-qemu-action@v3

          - name: Use Node
            uses: actions/setup-node@v4
            with:
              node-version: 22
              
          - name: Install Release Deps
            run: npm ci

          - name: Semantic Release
            uses: cycjimmy/semantic-release-action@v4
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              DOCKER_REGISTRY_USER: ${{ github.actor }}
              DOCKER_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
